@use "main";
@import "./mixins";
.webheader {
  grid-area: header;
  text-align: center;
}

.intro {
  grid-area: intro;
  margin: 0 0 2rem;
}
.intro h1 {
  font-family: main.$font-montserrat;
  font-size: 2.4rem;
  letter-spacing: 0.35rem;
  margin: 0.6rem 0;
}

.resume-button {
  grid-area: resume-link;
  height: 100%;
  display: grid;
  justify-items: end;
  align-items: end;
}
.resume-link {
  border: 2px solid #ffffff6b;
  border-radius: 28px;
  width: 41%;
  height: 50%;
  margin: 2rem;
  padding: 2rem;
  text-decoration: none;
  position: relative;
}
.vw {
  display: block;
  font-family: main.$font-montserrat;
  font-size: 0.89rem;
  color: main.$color;
}
.vwd {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.rmn {
  font-family: main.$font-montserrat;
  font-weight: bold;
  font-size: 2.6rem;
  color: main.$color;
  text-transform: uppercase;
}

.header-section {
  display: grid;
  align-items: end;
  grid-template-areas:
    "header header"
    "intro resume-link";
  font-family: main.$font-montserrat;
}

.header-section h2 {
  font-family: main.$font-conquera;
  font-size: clamp(2rem, 5.7vw, 16.67rem);
}

.snytxt {
  font-size: 4rem;
}

.shortbio {
  font-size: 1rem;
  position: relative;
  width: 50%;
  letter-spacing: 0.05rem;
}

@include respond(lg) {
}

@include respond(md) {
  .intro {
  margin: 0 0 1.5rem;
}
  .intro h1 {
    font-size: 1.8rem;
    letter-spacing: 0.25rem;
    margin: 2rem 0 0.3rem 0;
  }
  .header-section {
    grid-template-areas:
      "header"
      "intro"
      "resume-link";
  }
  .header-section h2 {
    font-size: clamp(2vw, 5.2vw, 16.67rem);
    margin: 12rem 0;
  }
  .shortbio {
    font-size: 0.85rem;
    position: relative;
    width: 100%;
    letter-spacing: 0.05rem;
  }
  .resume-link {
    width: 100%;
    height: 80%;
    margin: 1rem;
    padding: 1rem;
  }
  .resume-button {
    justify-items: center;
  }
  .vw {
    font-size: 0.69rem;
  }
  .vwd {
    right: 2.25rem;
  }
  .rmn {
    font-size: 2.25rem;
  }
  .arrow-svgs {
    width: 3rem;
  }
}
