@use 'main';
@import './mixins';
.webheader{
    grid-area: header;
    text-align : center;
}

.intro{
    grid-area: intro;
    margin: 0 0 2rem;
}
.intro h1{
    font-family: main.$font-montserrat;
    font-size: 2.4rem;
    letter-spacing: .35rem;
    margin: .6rem 0;
}

.resume-button{
    grid-area: resume-link;
    height: 100%;
    display: grid;
    justify-items: end;
    align-items: end;
}
.resume-link{
    border: 2px solid #ffffff6b;
    border-radius: 28px;
    width: 41%;
    height: 50%;
    margin: 2rem;
    padding: 2rem;
    text-decoration: none;
    position: relative;
}
.vw{
    display: block;
    font-family: main.$font-montserrat;
    font-size: .89rem;
    color: main.$color;
}
.vwd{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.rmn{
    font-family: main.$font-montserrat;
    font-weight: bold;
    font-size: 2.6rem;
    color: main.$color;
    text-transform: uppercase;
}

.header-section{
    display: grid;
    align-items: end;
    grid-template-areas: 'header header'
                         'intro resume-link';
    font-family: main.$font-montserrat;
    
}

.header-section h2{
    font-family: main.$font-conquera;
    font-size: clamp(2rem, 5.70vw, 16.67rem);

}

.snytxt{
    font-size: 4rem;
    
}

.shortbio{
    font-size: 1rem;
    position: relative;
    width: 50%;
    letter-spacing: .05rem;
}


@include respond(lg) {

}

@include respond(md) {
    .intro h1{
    font-size: 1rem;
    letter-spacing: .15rem;
    margin: 2rem 0 .3rem 0;
    }
    .header-section{
        grid-template-areas: 'header'
                            'intro'
                            'resume-link';
        
    }
    .header-section h2{
        font-size: clamp(2vw, 5.2vw, 16.67rem);
        margin: 8rem 0;
    }
    .shortbio{
        font-size: .75rem;
        position: relative;
        width: 100%;
        letter-spacing: .05rem;
    }
    .resume-link{
        width: 50%;
        height: 100%;
    margin: 1rem;
    padding: 1rem;
        
    }
    .resume-button{
justify-items: center;
}
    
}