/* color */
$bgclr : #000;
$color: #fff;
$navbg: #2b2b2b;


/* padding */
$btnpdn1: 0.7rem 3rem;


/* margins */
$mrgn1: .4rem;


/* borders */
$btnbrdr1: 1px solid $color;
$btnbdrds1: 24px;
$btnbdrds2: 22px;




/* fonts */
$font-montserrat: 'Montserrat', sans-serif;
$font-conquera: 'Conquera';
$font-Recepts: 'Recepts NF W01 Regular';




*{
    box-sizing: border-box;;
}

body{
    background-color: $bgclr;
    color: $color;
    margin: 1rem;
}
.section{
    height:50vw;
    margin: 0 2rem 5rem;
    padding: 1rem 0;
    font-family: $font-montserrat;

}
.mainappcontainer{
    background:radial-gradient(27.25% 34.55% at 50% 40%, rgba(255, 255, 255, 0.10) 0%, rgba(225, 233, 230, 0.01) 100%);
    
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}