@use 'main';

.grid{
    display: grid;
}
.grd{
    grid-auto-flow: column;
}
.about-container{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    gap: .4rem;
    align-items: start;
    justify-items: center;
    text-align: center;
    margin: 4rem 0;
}
.abc{
    background: #fff;
    color: #000;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.github-contributions {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 2rem;
    background:linear-gradient(180deg, #FFF 0%, #515050 162%);

}

.gccc{
    background-color: #232925;
    padding: 1.5rem;
    border-radius: 16px;
}

.huuug{
    background-color: #232925;
    color: #fff;
}

.grdimg{
    // width:18vw;
    height: 8.55vw;
}


.self-intro{
    text-align: start;
    padding:  1rem;
    letter-spacing: 4.2px;

    .about-header{
        font-family: main.$font-Recepts;
        font-size: 1.8rem;
        margin: 1rem 0 ; 
    }
    .about-text{
        letter-spacing: 0.8px;
        line-height: 22px;
    }
    .about-contact{
        margin-top: 1.5rem;
        display: flex;
        gap: 1.2rem;
        .cont-icon{
            svg{
            width: 20px !important;
            height: 20px !important;
            }
            color: #3d3d3d7d !important;
            
        }
    }
}

.Skills{
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

