.grid{
    display: grid;

}
.about-container{
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
    justify-items: center;
    text-align: center;
    margin: 4rem 0;
}
.abc{
    background: #fff;
    color: #000;
    border-radius: 16px;
}


