@use "main";
@use "./mixins" as *;

.navbar {
  position: fixed;
  top: 0;
  width: 98%;
  padding: 1.6rem 2rem;
  background-color: transparent;
    border-radius: main.$btnbdrds2;
  transition: background-color 0.3s ease;
  z-index: 1000;
  margin: .6rem 0;

  &.solid {
    background: rgba(41, 41, 41, 0.75);
    backdrop-filter: blur(5px);
    .desktop-menu {

    li {

      a {
        color: #c7c7c7;
        border: 1px solid #c7c7c7;

        
      }
    }
  }
  }

  .nav-inner {
    margin: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
  }

  // Desktop nav
  .desktop-menu {
    display: flex;
    gap: 1.5rem;

    li {
      list-style: none;

      a {
        color: main.$color;
        border: main.$btnbrdr1;
        border-radius: main.$btnbdrds1;
        text-decoration: none;
        font-size: 0.9rem;
        padding: main.$btnpdn1;
        margin: main.$mrgn1;
      }
    }
  }

  // Hamburger
  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
}
.drawer{
    display: none;
}

// MOBILE BEHAVIOR
@media (max-width: 768px) {
   
 

  .navbar {
    .desktop-menu {
      display: none; // now ONLY desktop menu is hidden on mobile
    }
    .nav-inner {
      justify-content: start ;
    }

    .hamburger {
      display: block; // now hamburger actually shows
    }
  }
  .drawer {
    display: block;
  }
}

// DRAWER
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background: black;
  color: white;
  padding: 2rem;
  z-index: 9999;

  .close-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .drawer-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
      list-style: none;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
      }
    }
  }
}
